<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>	
	    <title>Dodaj Studenta</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link rel="stylesheet" href="../static/css/stajl.css" th:href="@{/css/stajl.css}"/>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	</head>
	<body> 
	
		<nav class="navbar navbar-inverse navbar-static-top">  	
  			<div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="#">@xvoxin powered</a>
    			</div>
    			<ul class="nav navbar-nav">
				   	<li><a href="/album">Album</a></li>
				   	<li><a href="/artysta">Artysta</a></li>
				   	<li class="active"><a href="/czlonek">Członek</a></li>
				   	<li><a href="/artystaczlonek">Członek-Artysta</a></li>
				   	<li><a href="/klient">Klient</a></li>
				   	<li><a href="/wydawca">Wydawca</a></li>
			    </ul>
			</div>
		</nav>
		
		<div class="container">
		
		<h3>Edytuj Członka</h3>
		
		<form th:action="@{'/czlonek/edit?id='} + ${czlonekEd.idczlonek}" th:object="${czlonekEd}" method="post">	
			<div class="form-group">
				<label th:for="name">Id</label>
				<input class="form-control" th:field="*{idczlonek}" th:readonly="true" />
			</div>
			<div class="form-group">
				<label th:for="imie">Imie</label>
				<input class="form-control" th:field="*{imie}" />
				<span th:errors="*{imie}" class="error"></span>
			</div>
			
			<div class="form-group">
				<label th:for="nazwisko">Nazwisko</label>
				<input class="form-control" th:field="*{nazwisko}" />
				<span th:errors="*{nazwisko}" class="error"></span>
			</div>
			
				<div class="form-group">
				<label th:for="dataur">Data ur</label>
				<input class="form-control" th:field="*{dataur}" />
				<span th:errors="*{dataur}" class="error"></span>
			</div>
			
			<div class="form-group">
				<label th:for="kraj">Kraj</label>
				<input class="form-control" th:field="*{kraj}" />
				<span th:errors="*{kraj}" class="error"></span>
			</div>
			
			<button type="submit" class="btn btn-lg btn-success">Edytuj</button>
		
		</form>
		</div>
	</body>
</html>
