
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Album</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link rel="stylesheet" href="../static/css/stajl.css" th:href="@{/css/stajl.css}"/>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-static-top">  	
  			<div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="#">@xvoxin powered</a>
    			</div>
    			<ul class="nav navbar-nav">
				   	<li><a href="/album">Album</a></li>
				   	<li><a href="/artysta">Artysta</a></li>
				   	<li><a href="/czlonek">Członek</a></li>
				   	<li><a href="/artystaczlonek">Członek-Artysta</a></li>
				   	<li class="active"><a href="/klient">Klient</a></li>
				   	<li><a href="/wydawca">Wydawca</a></li>
			    </ul>
			</div>
		</nav>
		
		<div class="container">
		
		<h3>Klienci</h3>
		
		<table class="table table-hover">
			<tr style="background:#0f60e2;color:white">
				<th>Imie</th>
				<th>Nazwisko</th>
				<th>Kraj</th>
				<th>Miasto</th>
                <th> </th>
			</tr>
			<tr th:each="klient, iterStat: ${klients}">
				<td th:text="${klient.imie}"></td>
				<td th:text="${klient.nazwisko}"></td>
				<td th:text="${klient.kraj}"></td>
				<td th:text="${klient.miasto}"></td>
                <td style="text-align:right"><a class="btn btn-lg btn-primary btn-sm" th:href="@{'/klient/edit?id='} + ${klient.idklient}">Edytuj</a> 
				<a class="btn btn-lg btn-danger btn-sm" th:href="@{'/klient/delete?id='} + ${klient.idklient}" onclick="return confirm('Na pewno chcesz usunąc pozycję?')">Usuń</a></td>
			</tr>
		</table>
		  	<center>
		  	<ul class='pagination pagination-lg'>
			    <li><a th:href="@{/klient/?page=0}">1</a></li>
			    <li><a th:href="@{/klient/?page=1}">2</a></li>
			    <li><a th:href="@{/klient/?page=2}">3</a></li>
			    <li><a th:href="@{/klient/?page=3}">4</a></li>
			    <li><a th:href="@{/klient/?page=4}">5</a></li>
		  	</ul>
		  	</center>
		<a class="btn btn-lg btn-success" th:href="@{/klient/add}">Dodaj</a>
		
	    </div>
	</body>
</html>